* {
    margin: 0%;
    padding: 0%;
}

nav {
    height: 100px;
    width: 100%;
    /* background-color: rgba(15, 15, 15, 0.884); */

    position: relative;

}

.logo {
    color: white;
    font-size: 30px;
}

.delivery {
    color: white;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 120px;
}

#Nepal {
    text-align: center;
    font-size: 20px;
}

#selector {
    color: white;
    position: absolute;
    top: 15px;
    left: 220px;
}

#searchitem {
    color: blue;
    height: 100px;
}